.btn-grad {background-image: linear-gradient(to right, #735a2c 0%, #56361b  51%, #968154  100%)}
.btn-grad {
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   display: block;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

 .btn-grad:active {
    background-image: linear-gradient(to right, #9c8165 0%, #332516 51%, #8d6e4d 100%);  /* Active background */
   color: #fff !important;  /* Active text color set to white */
 }